.box {
    display: flex;
    gap: 20px;
    height: fit-content;
    align-items: center;
    border-bottom: 2px solid #7B1AF2;
    margin-bottom: 10px;
}

.input {
    padding: 20px 0px 20px;
    background-color: transparent;
    height: 5rem;
    width: 70%;
    align-items: center;
    border: none;
    color: white;
    outline: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
}
.btn {
    height: 40px;
    width: 100px;
    border-radius: 100px;
    border: transparent;
    background-color: #7B1AF2;
    color: white;
}

.img {
    padding-left: 10px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}