.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #7B1AF2;
    border-top: 2px solid #7B1AF2;
    border-top-right-radius: 2px ;
    border-top-left-radius: 2px ;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.input {
    padding: 20px 0px 20px;
    background-color: transparent;
    width: 615px;
    align-items: center;
    border: none;
    color: white;
    outline: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    
}
.btn {
    align-self: flex-end;
    justify-self: end;
    width: fit-content;
    height: fit-content;
    
    button {

        height: 40px;
        width: 100px;
        font-weight: bold;
        border-radius: 100px;
        border: transparent;
        background-color: #7B1AF2;
        color: white;
        cursor: pointer;
        transition: filter 150ms;
    }
}

.btn:hover {
    filter: brightness(0.8);
}

.img {
    /* padding-left: 10px; */
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: center;
    align-items: center;
}