.body {
    width: 100%;
    background-color: #18112C;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.names {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-size: 14px;
    gap: 4px;
    align-items: center;

    h4 {
        opacity: 60%;
    }
}

.content {
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    word-break: break-all;
    width: 100%;
}

.img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding-left: 10px;
    
}

.footer {
    color: white;
    opacity: 70%;
    font-size: 13px;
}
