.aside {
    grid-row: 2;
}

.asideMyProfile {
    /* grid-column: 2; */
    width: 100%;
    /* height: fit-content; */
    /* max-height: 100vh; */
    /* overflow-y: auto; */
}

.main {
    grid-row: 2;
    grid-column: 2;
    /* width: 100%; */
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
}



.asideFollowers {
    grid-column: 2;
}

.header {
    grid-column: 1/4;
    display: flex;
    justify-content: start;
    padding-left: 2em;
}

.box {
    border: .1rem solid red;
    padding: 0;
}